<div class="container-container text-center">
    <h1>About Page</h1>
    <p> We are Dev Match. Our companany focuses on creating an eclusive commmunity of developers and entrepeneurs to meet.Lorem </p>
</div>